<footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3 data-translate="company_name">شركة سادن المتخصصة للاستشارات الجيولوجية</h3>
              <p>
                <span data-translate="address_line1">حي الواحة 2657 ، شارع محمد بن سليمان</span><br>
                <span data-translate="address_line2">البسام 7363, المملكة العربية السعودية</span><br><br>
                <strong data-translate="mobile_label">رقم الجوال:</strong> <span data-translate="mobile_number">00966551706008</span><br>
                <strong data-translate="email_label">البريد الألكترونى:</strong> <span data-translate="email">jd@saden.sa</span><br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center" data-translate="twitter_link"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center" data-translate="facebook_link"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center" data-translate="instagram_link"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center" data-translate="linkedin_link"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->
  
          <div class="col-lg-2 col-md-3 footer-links">
            <h4 data-translate="links_title">روابط</h4>
            <ul>
              <li><a href="index.html" data-translate="aboutTheCompany">about Saden</a></li>
              <li><a href="projects.html" data-translate="projects">projects</a></li>
              <li><a href="branches.html" data-translate="branches">Branches</a></li>
              <li><a href="contact.html" data-translate="contactUs">contact Us</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-3 footer-links" id="ourServices">
            <h4 data-translate="services_title">خدماتنا</h4>
            <div class="row">
              <ul class="col-lg-6">
                <li><a data-translate="geotechnicalStudies" href="service-details.html?id=1">Geotechnical Studies</a></li>
                <li><a data-translate="hydrologicalStudies" href="service-details.html?id=2">Hydrological Studies</a></li>
                <li><a data-translate="geophysicalStudies" href="service-details.html?id=3">Geophysical Studies</a></li>
                <li><a data-translate="geologicalStudies" href="service-details.html?id=4">Geological Studies</a></li>
                <li><a data-translate="miningStudies" href="service-details.html?id=5">Mining Studies</a></li>
                
              </ul>
              <ul class="col-lg-6">
                <li><a data-translate="surveyingWorks" href="service-details.html?id=6">Surveying Works</a></li>
                <li><a data-translate="materialQualityTesting" href="service-details.html?id=7">Material Quality Testing</a></li>
                <li><a data-translate="concreteTesting" href="service-details.html?id=8">Concrete Testing</a></li>
                <li><a data-translate="asphaltTesting" href="service-details.html?id=9">Asphalt Testing</a></li>
              </ul>
            </div>
            
          </div>
            
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; <span data-translate="copyright">Copyright</span> <strong><span>SADEN</span></strong>. <span data-translate="all_rights_reserved">All Rights Reserved</span>
        </div>
      </div>
    </div>
  
  </footer>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Geological Consultancy Company",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "riyadh",
        "addressRegion": "Saudi Arabia",
        "addressCountry": "SAR"
      },
      "telephone": "+201145189645",
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "30.0444",
        "longitude": "31.2357"
      },
      "url": "https://yourwebsite.com"
    }
    </script>
    