<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center">
            <img src="../assets/img/logo.png" class="fade-behind">
            <div class="fade-background"></div>
            <h2 data-translate="SadenForConsultationHeader" class="d-none d-lg-block text-dark fs-4" style="z-index: 2;">
                Saden Specialized Company     
                <br>
                For Geological Consulting

            </h2>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x text-dark"></i>
        <nav id="navbar" class="navbar">
            <ul class="bg-color-mobile-menu">
                <!-- <li><a href="index.html" class="active" data-translate="home">home</a></li> -->
                <li><a href="index.html" data-translate="aboutTheCompany" class="text-dark">about Saden</a></li>
                <li><a href="projects.html" data-translate="projects" class="text-dark">projects</a></li>
                <li><a href="branches.html" data-translate="branches" class="text-dark">Branches</a></li>
                <li class="dropdown">
                    <a href="#" data-translate="services" class="text-dark">
                        <span> services</span>
                        <i class="bi bi-chevron-down dropdown-indicator"></i>
                    </a>
                    <ul>
                        <li><a data-translate="geotechnicalStudies" href="service-details.html?id=1">Geotechnical Studies</a></li>
                        <li><a data-translate="hydrologicalStudies" href="service-details.html?id=2">Hydrological Studies</a></li>
                        <li><a data-translate="geophysicalStudies" href="service-details.html?id=3">Geophysical Studies</a></li>
                        <li><a data-translate="geologicalStudies" href="service-details.html?id=4">Geological Studies</a></li>
                        <li><a data-translate="miningStudies" href="service-details.html?id=5">Mining Studies</a></li>
                        <li><a data-translate="surveyingWorks" href="service-details.html?id=6">Surveying Works</a></li>
                        <li><a data-translate="materialQualityTesting" href="service-details.html?id=7">Material Quality Testing</a></li>
                        <li><a data-translate="concreteTesting" href="service-details.html?id=8">Concrete Testing</a></li>
                        <li><a data-translate="asphaltTesting" href="service-details.html?id=9">Asphalt Testing</a></li>
                    </ul>
                </li>
                <li><a href="contact.html" data-translate="contactUs" class="text-dark">contact Us</a></li>
                <li class="dropdown">
                    <a href="#" data-translate="careers" class="text-dark">
                        <span>Careers</span>
                        <!-- <i class="bi bi-chevron-down dropdown-indicator"></i> -->
                    </a>
                    <ul>
                        <li><a data-translate="openPositions" href="#">openPositions</a></li>
                        <li><a data-translate="training" href="#">training</a></li>
                        <li><a data-translate="internships" href="#">internships</a></li>
                    </ul>
                </li>
                <!-- <li><a href="contact.html" data-translate="Certifications">Certifications</a></li> -->

                <li>
                    <a>
                        <select id="languageSwitcher" class="bg-transparent text-dark border-0 dropdown">
                            <option value="english" data-translate="english" class="text-black">English</option>
                            <option value="arabic" data-translate="arabic" class="text-black">Arabic</option>
                        </select>
                    </a>
                </li>

            </ul>
        </nav>

    </div>
</header>